<li id="post-<%= post._id %>">  <!-- why i am add id in list beacuse x on some of time i will also need to delete this post using ajax--> 
    <% if(locals.user && locals.user.id == post.user.id){ %>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
        </small>
        <% } %>
    <p>
        <%= post.content %>
            <br>
            <small>
                <%=post.user.name %>
            </small>
    </p>
    <div class="post-comment">
        <% if(locals.user){ %>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type here to add your comment.. " required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add comment">
            </form>


            <div class="post-comment-list">
                <ul class="post-comment-<%=post._id %>">
                    <% for(comment of post.comments){ %>
                       
                       <%- include('_comment') %>
                           
                 <% } %>
                </ul>
            </div>
     <% } %>
    </div>
</li>