<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- noty -->
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

   <!-- ajax  -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <%-style %>
</head>

<body>
    <%- include('header') %>

    <!-- <% if(flash.success && flash.success.length > 0){ %>
        <h5>
            <%= flash.success %>
        </h5>
    
    <% } %>
    <% if(flash.error && flash.error.length > 0){ %>
        <h5>
            <%= flash.error %>
        </h5>
    
    <% } %> -->


        <%- body %>

    <%- include('footer') %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                    crossorigin="anonymous"></script>
            <!-- <%- script %> -->
           
                <script>
                    
                    <% if(flash.success && flash.success.length > 0){ %> 

                      new Noty({
                          theme:'relax',
                          text:'<%= flash.success %>',
                          type:'success',
                          layout:'topRight',
                          timeout:2000
                      }).show()
                      
                      <% } %>
                </script> 
                
                <%- script %>
</body>

</html>